/*@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');*/

html {
	font-size: 22px;
	/*background-color: steelblue;*/
}

h1,
h2 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

body {
	background-color: lightsteelblue;
	padding: 1rem;
}

button {
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/*border: 3px solid #00ffff;*/
	width: 	100%;
	padding: 	5px;
	font-size: 	16px;
	background-color: 	steelblue;
	color: 	lightskyblue;
}

button:active {
    transform: scale(0.98);	
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.container {
	width: 100%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: lightgray;
	color: black;
	padding: 1rem;
}

.cards {
	max-width: 2000px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}

/*@media (min-width: 800px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}*/