.card {
	/*background-color: #ccffff;*/
	border-radius: 1rem;
	box-shadow: 3px 3px 10px -3px;
}

.navbar {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	background-color: deepskyblue;
}

.nav-item {
	background-color: white;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 24px;
	border-radius: 0.5rem;
	box-shadow: 3px 3px 10px -3px;
	transition-duration: 0.5;
}

.nav-item:hover {
	background-color: lightblue;
}

.nav-item:active {
	box-shadow: inset 3px 3px 5px -3px;
}

.btn:active {
	box-shadow: inset 3px 3px 5px -3px;
}

.nav-link {
	color: black;
}

.vr {
	margin-left: 1rem;
	margin-right: 1rem;
}

#sidebar {
  transition: width 0.3s;
  width: 250px;
}
#sidebar.collapsed {
  width: 60px;
}
#sidebar .btn-label {
  display: inline-block;
}
#sidebar.collapsed .btn-label {
  display: none;
}
